/*
Qiita
チェックボックスをスライドするスイッチ風にしてみる
https://qiita.com/trewanek/items/285e27ff6ecaba41b1b5
*/


/* チェックボックスの非表示 */
.switch input[type=checkbox] {
    display: none;
}

/* ラベル要素の中身のスタイル（具体的にはスイッチ部分） */
.switch label {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* ラベル要素の中身の直前にスイッチのON部分追加 */
.switch label:before {
    padding: 6px 10px;
    content: 'ON';
    border-radius: 6px 0 0 6px;
    background: linear-gradient(to bottom, #F0F0F0 0%, #DDD 100%);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1) inset;
    color: #333;
}

/* ラベル要素の中身の直前にスイッチのOFF部分追加 */
.switch label:after {
    padding: 6px 10px;
    content: 'OFF';
    border-radius: 0 6px 6px 0;
    background: #C30;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1) inset;
    color: #FFF;
}

/* スイッチがOFF状態の場合ON部分のホバーは透かしを入れる */
.switch input+label:hover:before {
    opacity: 0.5;
}

/* スイッチがON状態の場合OFF部分のホバーは透かしを入れる */
.switch input:checked+label:hover:after {
    opacity: 0.5;
}

/* スイッチがON状態でONに色をつける */
.switch input:checked+label:before {
    background: #9C0;
    color: #FFF;
    opacity: 1;
}
/* スイッチがOFF状態でOFFに色をつける */
.switch input:checked+label:after {
    background: linear-gradient(to bottom, #F0F0F0 0%, #DDD 100%);
    color: #333;
}

